# --------------------------------------------------------------------------
# Crontab
# Add your recurring jobs, this will populate www-bridge-user's crontab
#
# NOTE: Set the environment properly by sourcing the user's ~/.profile
# --------------------------------------------------------------------------

SHELL=/bin/bash

# A sample cron job
* * * * * . $HOME/.profile; cd /var/www/html && nails >> ~/cron.txt 2>&1
