# --------------------------------------------------------------------------
# Crontab
# Add your recurring jobs, this will populate www-bridge-user's crontab
#
# NOTE: cron.sh is used to configure the cron environment
# --------------------------------------------------------------------------

SHELL=/bin/bash
BASH_ENV="/cron.sh"

# A sample cron job
# * * * * * cd /var/www/html && echo "hello!"
